<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pizzabestellung</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <h1 style="background-color: powderblue">Pizzabestellung</h1>
  <style>
    body {
      background-image: url("Pizza.jfif");
      background-color: #cec666;
    }
  </style>
  <body>
    <form action="/orders" method="POST">
      <input
        type="text"
        placeholder="Dein Name"
        id="personName"
        name="personName"
      />
      <input
        type="text"
        placeholder="Name der Pizza"
        id="pizzaName"
        name="pizzaName"
      />
      <input type="text" placeholder="Anzahl" id="quantity" name="quantity" />
      <input type="text" placeholder="Größe" id="size" name="size" />
      <input type="submit" value="Bestellen" />
    </form>
  </body>
</html>
