<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pizzabestellung</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<h1 style="background-color:powderblue;">Pizzabestellung</h1>
<style>
    body{
  background-image: url("Pizza.jfif");
  background-color: #cec666;
    }
</style>
<script>
    var e=prompt("Pizza Name");
    var b=prompt("Pizza Größe");
    var c=prompt("Pizza Preis");
    document.writeln("Pizza wurde bestellt!");
    document.writeln("                        Name:"+"   "+e);
    document.writeln("                        Größe:"+"   "+b);
    document.writeln("                        Preis:"+"   "+c)
</script>
</pyscript>
<body></body>
</html>