<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzabestellung - Karte</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <table>
        <thead>
            <tr>
                <th onclick="" class="pizza">Pizza</th>
                <th class="size">Größe</th>
                <th class="quantity">Anzahl</th <tr id="magherita">
            </tr>
        </thead>
        <tbody>
            <td class="pizza"> Pizza Margherita</td>
            <td class="size">26cm / 32cm/ 32x50cm</td>
            <td class="quantity"></td>
            </tr>
            <tr id="salami">
                <td class="pizza">Pizza Salami</td>
                <td class="size">26cm / 32cm/ 32x50cm</td>
                <td class="quantity"></td>
                <!-- use onclick -->
            </tr>
            <tr id="romano">
                <td class="pizza">Pizza Romano</td>
                <td class="size">26cm / 32cm/ 32x50cm</td>
                <td class="quantity"></td>
            </tr>
            <tr id="regina">
                <td class="pizza">Pizza Regina</td>
                <td class="size">26cm / 32cm/ 32x50cm</td>
                <td class="quantity"></td>
            </tr>
            <tr id="hawaiian">
                <td class="pizza">Pizza Hawaii</td>
                <td class="size">26cm / 32cm/ 32x50cm</td>
                <td class="quantity"></td>
            </tr>

            <tr id="quattro_stagioni">
                <td class="pizza">Pizza Quattro Stagioni</td>
                <td class="size">26cm / 32cm/ 32x50cm</td>
                <td class="quantity"></td>
            </tr>
            <tr id="primavera">
                <td class="pizza">Pizza Primavera</td>
                <td class="size">26cm / 32cm/ 32x50cm</td>
                <td class="quantity"></td>
            </tr>
            <tr class="vegitaria">
                <td class="pizza">Pizza Vegetaria</td>
                <td class="size">26cm / 32cm/ 32x50cm</td>
                <td class="quantitty"></td>
            </tr>
            <tr class="spicy_salami">
                <td class="pizza">Pizza scharfe Salami</td>
                <td class="size">26cm / 32cm/ 32x50cm</td>
                <td class="quantity"></td>
            </tr>
            <tr class="americano">
                <td class="pizza">Pizza Americano</td>
                <td class="size">26cm / 32cm/ 32x50cm</td>
                <td class="quantity"></td>
            </tr>
            <tr class="seafood">
                <td class="pizza">Pizza Meeresfrucht</td>
                <td class="size">26cm / 32cm/ 32x50cm</td>
                <td class="quantity"></td>
            </tr>
            <tr class="shrimp">
                <td class="pizza">Pizza Shrimps</td>
                <td class="size">26cm / 32cm/ 32x50cm</td>
                <td class="quantity"></td>
            </tr>
            <tr class="pastori">
                <td class="pizza">Pizza Pastori </td>
                <td class="size">26cm / 32cm/ 32x50cm</td>
                <td class="quantity"></td>
            </tr>
            <tr class="tuna">
                <td class="pizza">Pizza Tonno</td>
                <td class="size">26cm / 32cm/ 32x50cm</td>
                <td class="quantity"></td>
            </tr>
            <tr class="el_salvatore">
                <td class="pizza">Pizza El Salvatore</td>
                <td class="size">26cm / 32cm/ 32x50cm</td>
                <td class="quantity"></td>
            </tr>

            <tr class="sardine">
                <td class="pizza">Pizza Sardellen</td>
                <td class="size">26cm / 32cm/ 32x50cm</td>
                <td class="quantity"></td>
            </tr>

            <tr class="rocket">
                <td class="pizza">Pizza Rucola</td>
                <td class="size">26cm / 32cm/ 32x50cm</td>
                <td class="quantity"></td>
            </tr>

            <tr class="champignon">
                <td class="pizza">Pizza Champignon</td>
                <td class="size">26cm / 32cm/ 32x50cm</td>
                <td class="quantity"></td>
            </tr>

            <tr class="calzone_pute">
                <td class="pizza">Calzone Pute</td>
                <td class="size">26cm / 32cm/ 32x50cm</td>
                <td class="quantity"></td>
            </tr>

            <tr class="chees">
                <td class="pizza">Pizza Käse</td>
                <td class="size">26cm / 32cm/ 32x50cm</td>
                <td class="quantity"></td>
            </tr>
            <tr class="king_prawns">
                <td class="pizza">Pizza Riesengarnelen</td>
                <td class="size">26cm / 32cm/ 32x50cm</td>
                <td class="quantity"></td>
            </tr>

            <tr class="meat">
                <td class="pizza">Pizza Fleisch</td>
                <td class="size">26cm / 32cm/ 32x50cm</td>
                <td class="quantity"></td>
            </tr>

            <tr class="turkey">
                <td class="pizza">Pizza Türkei</td>
                <td class="size">26cm / 32cm/ 32x50cm</td>
                <td class="quantity"></td>
            </tr>

            <tr class="chicken_strips">
                <td class="pizza">Pizza Hänchenstreifen</td>
                <td class="size">26cm / 32cm/ 32x50cm</td>
                <td class="quantity"></td>
            </tr>
            <tr class="capricciosa">
                <td class="pizza">Pizza Capricciosa</td>
                <td class="size">26cm / 32cm/ 32x50cm</td>
                <td class="quantity"></td>
            </tr>

            <tr class="speciale">
                <td class="pizza">Pizza Speciale</td>
                <td class="size">26cm / 32cm/ 32x50cm</td>
                <td class="quantity"></td>
            </tr>

            <tr class="calzones">
                <td class="pizza">Pizza Calzone</td>
                <td class="size">26cm / 32cm/ 32x50cm</td>
                <td class="quantity"></td>
            </tr>

            <tr class="bruschetta">
                <td class="pizza">Bruscetta(4 Stück)</td>
                <td class="size">Klein</td>
                <td class="quantity"></td>
            </tr>

            <tr onclick="" class="caprese">
                <td class="pizza">Pizza Caprese</td>
                <td class="size">26cm / 32cm/ 32x50cm</td>
                <td class="quantity"></td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>

    <script src="./js/menu.js"></script>
</body>

</html>