* {
    margin: 0;
    padding: 0;
    font-family: Calibri, sans-serif;
    color: white;
}

body {
    height: 100vh;
    background-color: #202e39;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    font-size: 22 px;
    background-color: #2c3d4b;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

td,
th {
    padding-top: 100px;
    padding: 4px 55px;
    text-align: center;
}

thead {
    box-shadow: 10px 10px 10px #00000030;
    background-color: royalblue;
}

th:first-child {
    border-radius: 20px 0px 0px 0px;
}

tr:nth-child(even) {
    background-color: #364a5a;
}

* {
    padding-top: 10px;
}